<div class="container">
  <div class="row">
    <div class="col-lg-4">
      <%= render 'users/list', book: @book,user: @user %>
    </div>


    <div class="col-lg-8">
      <h1>Books</h1>
      <table class="table table">
        
      </table>
    </div>

  </div>
</div>
<p class="copy">CopyRight Infratop.inc</p>