// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.user_info {
  margin-top: 10px;
}

.copy {
  text-align: center;
  margin-top: 20px;
}

th,td{
  padding-right: 30px;
}

.users{
  margin-top: 20px;
}

.books {
  top: 20px;
}

.error li {
  color: red;
}

.user-info {
  border-radius: 4px;
  display: block;
}

.name {
  margin-bottom: 5px;
}

.name-input {
  border: 1px solid #ced4da;
  border-radius: 4px;
  height: 35px;
  width: 500px;
}

.image {
  margin-top: 10px;
  margin-bottom: 5px;
}

.introduction {
  margin-bottom: 5px;
}

.introduction-input {
  border: 1px solid #ced4da;
  border-radius: 4px;
  height: 70px;
  width: 500px;
}

